.tiles {
  display: grid;
  grid-template-rows: repeat(3, 50px);
  grid-template-columns: repeat(3, 50px);
  gap: 4px;
  justify-content: center;
  margin: 24px 0;
}

.tile {
  font-weight: bold;
  padding: 16px;
  background-color: #ccc;
}

button.tile {
  cursor: pointer;
}